<div id="season"></div>
<div id="match-counter"></div>
<div id="team-selector"></div>
<div id="filter-selector"></div>
<div id="filter-list"></div>

<button id="btn-stats">Get Stats</button>
<div id="stat-results"></div>